BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 2
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true
PenaltyReturnTypeOnItsOwnLine: 1000
Standard: Cpp11
Cpp11BracedListStyle: false
