*.dwo
*.la
*.lo
*.log
*.o
*.pc
*.swp
*.trs
*~
.deps
.dirstamp
.libs
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
bamql
bamql-chain
bamql-compile
check_bamql*
compile
compiler_check.?
config.*
configure
debian/*debhelper*
debian/*substvars
debian/bamql-dbg
debian/bamql-dev
debian/files
debian/libbamql*/
debian/tmp/
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
stamp-h1
test-driver
test-suite.log
