Source: bamql
Section: science
Maintainer: Andre Masella <andre@masella.name>
Build-Depends: debhelper (>= 7.0.50~), automake, libhts-dev, libtool, libpcre++-dev, llvm-3.8-dev, pkg-config, uuid-dev, zlib1g-dev
Priority: extra
Standards-Version: 3.9.7
Homepage: http://github.com/BoutrosLabratory/bamql

Package: bamql
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BAM read filtering tool
 Filter BAM reads using simple queries

Package: libbamqlcpl1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BAM read filtering compiler library
 Filter BAM reads using simple queries

Package: libbamqlitr0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BAM read filtering iterator library
 Filter BAM reads using simple queries

Package: libbamqljit0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BAM read filtering JIT library
 Filter BAM reads using simple queries

Package: libbamqlrt1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BAM read filtering runtime library
 Filter BAM reads using simple queries

Package: bamql-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbamqlcpl1 (= ${binary:Version}), libbamqlitr0 (= ${binary:Version}), libbamqljit0 (= ${binary:Version}), libbamqlrt1 (= ${binary:Version})
Description: BAM read filtering -- Development tools
 Filter BAM reads using simple queries
 .
 This package contains development tools for creating filters or headers to use
 the library.

Package: bamql-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    bamql (= ${binary:Version}),
    ${misc:Depends}
Description: BAM read filtering -end read assembler -- Debugging symbols
 Filter BAM reads using simple queries
 .
 This package contains debugging symbols.  It is only useful for development.

